<app-loader [isLoading]="isLoading"></app-loader>

<div class="wrapper home-page-wrapper">

  <button class="btn pokemon-compare-link m-b-24" [routerLink]="['/compare']">Compare Pokemons</button>

  <div class="filters d-flex justify-center align-center flex-wrap m-b-24">
    <div class="cursor-pointer  {{ type }}-filter"
         *ngFor="let type of availableFiltersArray"
         (click)="filterByType(type)">
      {{ type }}
    </div>
  </div>

  <app-paginated-list
          *ngIf="pokemonListWithDetails && !isLoading"
          [offset]="offset"
          [pokemonDisplayList]="pokemonListWithDetails"
  >
  </app-paginated-list>
</div>