.pokemon-card-wrapper {

  .pokemon-card {
    min-width: 235px;
    min-height: 350px;
    border: 1px solid #444242;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;

    img {
      width: 200px;
    }
  }
}