<div class="pokemon-card-wrapper">
  <div
          class="pokemon-card"
          [routerLink]=" isRouterLinkActive ? ['/evolution', pokemonName] : null"
          [ngStyle]="{'border-color': borderColor}"
  >
    <div class="id m-b-8 text-center">
      {{ pokemonId }}
    </div>
    <div>
      <img *ngIf="pokemonSprite" [src]="pokemonSprite" alt="Pokemon image!">
      <img *ngIf="!pokemonSprite" src="../../../assets/images/question-mark.svg" alt="No pokemon image!">
    </div>
    <div>
      <p>Name: {{ pokemonName }}</p>

      <p>
        Type:
        <span *ngFor="let type of pokemonTypes let last = last">
          {{ type.type.name }}{{ last ? '' : ',' }}
        </span>
      </p>

      <p>Region: {{ pokemonRegion }}</p>
    </div>
  </div>
</div>