<div class="wrapper paginated-list-wrapper">

  <div class="list-display d-flex flex-wrap justify-center align-center">
    <ng-container *ngFor="let pokemon of pokemonDisplayList">
      <app-pokemon-card
      [pokemonId]="pokemon.id"
      [pokemonName]="pokemon.name"
      [pokemonTypes]="pokemon.types"
      [pokemonSprite]="pokemon.sprites.front_default"
      >
      </app-pokemon-card>
    </ng-container>
  </div>

  <div class="m-t-24">
    <p class="text-center">
      <span class="cursor-pointer" (click)="previousPage()">previous page | </span>
      <span class="cursor-pointer" (click)="nextPage()"> next page</span>
    </p>
  </div>


</div>