<app-loader [isLoading]="isLoading"></app-loader>
<div class="wrapper pokemon-evolution-wrapper">
  <button
          class="btn btn_back"
          (click)="goBack()"
  >
    Back
  </button>


  <div class="evolution-display d-flex flex-wrap justify-center align-center">
    <app-paginated-list
            [showPagination]="false"
            [pokemonDisplayList]="pokemonInfo"
    >
    </app-paginated-list>
  </div>

  <div class="d-flex justify-center align-center m-t-24 ">

  </div>

</div>
