@import "~ngx-smart-modal/ngx-smart-modal";
@import "wrapper";
@import "grid";
@import "spacing";
@import "alignment";
@import "typography";
@import "generic";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

nav {
  
  @media (max-width: 600px) {
    flex-direction: column;
  }
  
  padding: 24px;

  p {
    font-size: 20px;
    line-height: 1.5;
    span {
      text-transform: capitalize;
      color: green;
    }

    @media (max-width: 600px) {
      margin-top: 20px;
    }

  }

}

.nsm-dialog {
  max-width: 876px !important;
}