@import "wrapper";
@import "grid";
@import "spacing";
@import "alignment";
@import "typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.cursor-pointer {
  cursor: pointer;
}